@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1629077794129') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-59:before {
  content: "\e63a";
}

.icon-icon_website_huabanfuben:before {
  content: "\e6cf";
}

.icon-shijian:before {
  content: "\e524";
}

